.movie_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin-top: 20px;
}

.movie_list_header h2 {
  font-size: 28px;
  color: #ffffff;
}

h2 > img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

h2 {
  display: flex;
  align-items: center;
}

.movie_filter {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.movie_filter li {
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}

.movie_filter li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.movie_filter li:hover::after {
  width: 100%;
}

.movie_filter_conttainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.movie_sorting {
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}
