.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #282c34;
    border-bottom: 1px solid #e6e6e6;
}

.nav h1{
    font-size:30px;
    color: #61dafb;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a {
    display: flex;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 15px;
}

.nav-links img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}