@font-face {
  font-family: "montserrat";
  src: url(./assets/fonts/Montserrat.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
}
